@import "tailwindcss";

/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.card {
  margin: 0 auto;
  padding: 1rem;
  /* background: #1c1f2b; */
  border-radius: 10px;
  position: relative;
}

.card::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from 0deg, #22c55e, transparent, transparent, #22c55e);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 5px;
}